* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: aliceblue;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    background: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
}

.contenedor {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header"
        "inicio inicio inicio"
        "sobreMi sobreMi sobreMi"
        "habilidades habilidades habilidades"
        "proyectos proyectos proyectos"
        "contacto contacto contacto"
        "footer footer footer";
}

.contenedor header {
    background-color: burlywood;
    padding: 20px;
    border-radius: 15px;
}

.contenedor header {
    background-color: black;
    background-color: rgba(0, 0, 63, 0.897);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

h1 {
    font-size: 30px;
}

header span {
    font-size: 15px;
}

/* menu */
#menu ul,
#menuFooter ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

/* items del menu */
#menu ul li,
#menuFooter ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

/* enlaces del menu */
#menu ul li a,
#menuFooter ul li a {
    display: block;
    color: #ffffff;
    border-radius: 25px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/* efecto del menu */
#menu ul li a:hover {
    color: white;
    text-shadow: 0 0 5px #ff0000, 0 0 5px #ff0000;
}

/* ------MENU VERTICAL------ */
.menuVertical {
    position: fixed;
    left: 29px;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    padding: 0;
    margin: 0;
}

.menuVertical ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menuVertical ul li {
    width: 58px;
    background-color: #131212;
}

/* enlaces del menu */
.menuVertical ul li a {
    display: inline-block;
    background-color: #131212;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 15px;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/* efecto del menu */
.menuVertical ul li a:hover {
    background-color: #131212;
    padding: 10px 28px;
}

/* ------INICIO------ */
#inicio {
    height: auto;
    grid-area: inicio;
}

#inicio img {
    width: 100%;
}

/* ------SOBRE MI------ */
#sobreMi {
    grid-area: sobreMi;
    display: flex;
    border-radius: 25px;
    /* justify-content: space-around; */
    line-height: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
    /* grid-area: titulo; */
    flex-wrap: wrap;
    box-sizing: border-box;
}

h2 {
    width: 100%;
    background-color: darkgrey;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 25px 25px 0px 0px;
    padding: 10px;
    box-sizing: border-box;
}

.fotoPerfil {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.foto {
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff;
}

.contenidoSobreMi {
    width: 70%;
    /* background-color: darkkhaki; */
    padding: 10px;
    box-sizing: border-box;
}

/* ------HABILIDADES------ */
#habilidades {
    background-color: rgba(7, 0, 46, 0.87);
    grid-area: habilidades;
    color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
}

.contenedorBarra {
    line-height: 50px;
    width: 70%;
    padding: 10px 30px;
    font-weight: bold;
}

.detalles {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu {
    position: relative;
    width: 100%;
    border: 1px solid greenyellow;
    border-radius: 20px;
}

.menu div {
    position: relative;
    width: 0;
    height: 10px;
    border-radius: 10px;
    background-color: greenyellow;
}

#htmlMenu {
    animation: html-barra 5s forwards;
}

#cssMenu {
    animation: css-barra 5s forwards;
}

#jsMenu {
    animation: js-barra 5s forwards;
}

#phpMenu {
    animation: php-barra 5s forwards;
}

#booMenu {
    animation: boo-barra 5s forwards;
}

#vueMenu {
    animation: vue-barra 5s forwards;
}

@keyframes html-barra {
    100% {
        width: 90%;
    }
}

@keyframes css-barra {
    100% {
        width: 70%;
    }
}

@keyframes js-barra {
    100% {
        width: 80%;
    }
}

@keyframes php-barra {
    100% {
        width: 80%;
    }
}

@keyframes boo-barra {
    100% {
        width: 75%;
    }
}

@keyframes vue-barra {
    100% {
        width: 65%;
    }
}

/* ------PROYECTOS------ */
#proyectos {
    display: flex;
    grid-area: proyectos;
    background-color: rgba(0, 39, 0, 0.906);
    min-height: 100vh;
    border-radius: 25px;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
}

.slider {
    width: 900px;
    height: 450px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.7s;
}

.slider input[type="radio"] {
    position: relative;
    z-index: 50;
    margin: 10px;
}

.slider input[type="radio"]:checked~img {
    opacity: 1;
}

/* ------CONTACTO------ */
#contacto {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
}

form {
    width: 500px;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 10px 20px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 5px;
}

form h3 {
    width: 100%;
    background-color: #00005ca9;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
    /* no se sale mas del espacio permitido */
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    min-width: 100%;
}

#boton {
    background-color: #00005c;
    color: white;
    padding: 10px;
    font-weight: bold;
}

#boton:hover {
    cursor: pointer;
}

#botonArriba {
    position: fixed;
    width: 40px;
    bottom: 20px;
    right: -100px;
    transition: all 1s;
}

footer {
    grid-area: footer;
    background-color: rgba(8, 8, 8, 0.906);
    height: 100px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

h6 {
    padding: 20px;
    font-size: 15px;
}

#menuFooter {
    padding: 20px;
}

#menuFooter ul li a {
    font-size: 25px;
}

@media all and (min-width: 600px) and (max-width: 1250px) {

    /* MENU VERTICAL */
    .menuVertical {
        display: none;
    }
}

@media (max-width: 890px) {
    .contenedor {
        width: 98%;
        grid-gap: 20px;
    }

    /* MENU VERTICAL */
    .menuVertical {
        display: none;
    }

    /* HEADER */
    .contenedor header {
        flex-direction: column;
    }

    h5 {
        text-align: center;
        margin-bottom: 10px;
    }

    .inicioBoton {
        display: none;
    }

    #menu ul li a {
        color: yellow;
    }

    /* ------SOBRE MI------ */
    #sobreMi {
        flex-direction: column;
        align-items: center;
    }

    .fotoPerfil {
        margin-top: 20px;
    }

    .contenidoSobreMi {
        text-align: center;
        width: 90%;
        padding: 15px;
    }

    /* PROYECTOS */
    #proyectos {
        min-height: 70vh;
    }

    .slider {
        width: 100%;
        height: 350px;
    }

    /* FOOTER */
    footer {
        grid-area: footer;
        background-color: rgba(8, 8, 8, 0.906);
        height: 100px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
    }

    h6 {
        padding: 20px;
        font-size: 15px;
    }

    #menuFooter {
        padding: 5px;
    }

    #menuFooter ul li a {
        font-size: 22px;
    }
}